{
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "jsx-a11y"
  ],
  "extends": [
    "plugin:react/recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "no-undef": [ 1 ]
  }
}